WALLET_LEDGER_ENVIRONMENT=local
WALLET_LEDGER_HTTP_ADDRESS=:8080
WALLET_LEDGER_DATABASE_URL=postgres://wallet:replace-with-password@postgres:5432/wallet_ledger?sslmode=disable
WALLET_LEDGER_OIDC_ISSUER=http://127.0.0.1.nip.io:18081/realms/mightyfin-sandbox
WALLET_LEDGER_OIDC_AUDIENCE=mightyfin-wallet-ledger
WALLET_LEDGER_AUTH_MODE=oidc
